<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <a href="{% url 'agregar_cliente' %}">Agregar un nuevo Cliente</a>
    <ul>
        {% for cliente in clientes %}
        <li>{{ cliente.nombre }} - {{ cliente.telefono }} - {{ cliente.email }} - {{ cliente.direccion }}
            <a href="{% url 'editar_cliente' cliente.pk %}">Editar</a> -
            <a href="{% url 'eliminar_cliente' cliente.pk %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>
