<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Proveedores</title>
</head>
<body>
    <h1>Lista de Proveedores</h1>
    <ul>
        {% for proveedor in proveedores %}
            <li>{{ proveedor.nombre }} - <a href="{% url 'editar_proveedor' proveedor.pk %}">Editar</a> - <a href="{% url 'eliminar_proveedor' proveedor.pk %}">Eliminar</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'agregar_proveedor' %}">Agregar un nuevo proveedor</a>
    <br>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>
